{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="col s12 m6 center">
          
          <h2> Prounounced "inked-in"</h2>
        
          <input type="text" id="graphbutton" value="Apple"> <br>
          <input type="button" class="btn" onclick="window.location='/graph/'+document.getElementById('graphbutton').value" value="Search for something">
          <br><br><br>
          <a href="/search">Feeling Brave?</a>
            
        </div>
    </div>
{% endblock %}


